option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: whatsapp_clone.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: whatsapp_clone.settings

  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
export DJANGO_SETTINGS_MODULE=my_project.settings