option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: whatsapp_clone.settings

packages:
  yum:
    gcc-c++: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:applicationversion:linuxappserver:monitoring:
    enabled: true

option_settings:
  aws:elasticbeanstalk:environment:process:
    Worker process:
      Type: "Custom"
      Command: "daphne -b 0.0.0.0 -p 8000 whatsapp_clone.asgi:application"
      Environment:
        DJANGO_SETTINGS_MODULE: whatsapp_clone.settings

files:
  "/opt/python/ondeck/wsgi.conf":
    content: |
      WSGIPath=/ws/ <path>
        DefineProcess WS
        SetEnv DJANGO_SETTINGS_MODULE whatsapp_clone.settings
        ProcessGroup ws
        Module wsgi:server()
      </path>