option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: whatsapp_clone.settings

packages:
  yum:
    gcc-c++: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:applicationversion:linuxappserver:monitoring:
    enabled: true

option_settings:
  aws:elasticbeanstalk:environment:process:scope:websockets:
    Port: 8000
    Protocol: HTTP
    Instance: all

processes:
  websockets:
    type: web
    path: /opt/python/current/env
    command: "daphne -b 0.0.0.0 -p 8000 whatsapp_clone.asgi:application"
    env:
      DJANGO_SETTINGS_MODULE: whatsapp_clone.settings